
{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<div class="alert-top"><img class="warning" src="/static/images/warning.svg" />You need to acess the site from desktop to be able to notarise your documents</div>
  <main class="inner-content">
    <section class="center">
      <h2>What We Do</h2>
      <div class="content-box"><!-- content 1 -->
        <div class="info-layout">
          <p>In the past, if you wanted to prove that you had a certain document at a certain point of time, you would need to go to a notary public who will (for a fee) testify a witness to that fact.</p>
          <p>What we do is that we provide a unique proof of any <a href="https://en.wikipedia.org/wiki/Electronic_document" target="_blank">electronic document</a> and we record this information (notarise it) on the Blockchain. The result is a mathematical proof that is difficult and resources consuming to find but very quick and easy to verify, hence making it indisputable proof of your original document. </p>
          <p>Of course, we only work with the mathematical formulas and the digital signatures of your documents. This isn't making your documents accesible or readable for anybody. Not even we get to see your document.  It's the computed document hash that is publicly available and it's this computed document hash that we use to make your original document verifiable and trusted.</p>
          <p>Once we have done that, we will email you a permanent link referencing <a href="https://etherscan.io/" target="=_blank">the proof of your document on the Blockain.</a> This proof is valid forever, guaranteed by the Blockchain network itself. It's really that simple. :)</p>
        </div>
        <img class="art-img" src="../static/images/art2-work.png">
      </div><!-- content 1 END -->
      <div class="center">
        <h2>How it Works</h2>
        <div class="content-box"><!-- content 2 -->
          <p><span>Blockchain Notary</span> is an open source service that computes the <a href="https://en.wikipedia.org/wiki/Cryptographic_hash_function" target="_blank">cryptographic hash</a> for your documents and store this cryptographic information on the Blockchain.</p>
          <p>We use the <a href="https://en.wikipedia.org/wiki/SHA-2" target="_blank">SHA-2 algorithm</a> to compute hash for your files and we never get to actually upload your file anywhere to a server. This means that your document content is 100% secured and cryptographically protected along the way.</p>
          <p>Using our service, you will get the ultimate proof of your digital document yet it's secure and nobody but you gets to access the content whilst everyone will have an ability to verify it's authenticity. Yeah, and that's how it works really.  Blockchain rules.</p>
        </div><!-- content 2 END -->
      </div>
      <div class="centerp">
        <h2>How much does it cost?</h2>
        <div class="content-box"><!-- content 3 -->
          <p>Well, there is a cost associated to this service and it's compromised of 2 things: </p>
          <p>1 - 0.01 ETH is the cost for submitting the contract to the Blockchain (it's the standard network fee)<br>
             2 - 0.99 ETH is for <a href="http://linkedin.com/in/jparicka" target="_blank">Jan Paricka</a> because he is a very good developer, we all love him and we want him to have tons of money</p>
          <p>So the total cost will be 1.00 ETH and we give you the lifetime warranty for your document proof guaranteed by the <a href="https://cryptowat.ch/markets/bitfinex/eth/usd" target="_blank">Ethereum Blockchain network.</a>
          <br/>For the current Ethereum to US Dollar exchange rate have a look <a href="https://cryptowat.ch/markets/bitfinex/eth/usd" target="_blank">here</a>.<br></p>
        </div><!-- content 3 END -->
      </div>
      <div class="centerp">
        <h2>Smart-contract</h2>
        <div class="content-box"><!-- content 4 -->
        <p>Our Smart-contract is quite easy actually as all it does is that it stores your document's hash on the blockchain.
          <br/>
          And that's it yeah.
          <br/>
          <br/>
          <code>
              pragma solidity ^0.4.13;<br/>
              contract Notarise {<br/>
              &nbsp;&nbsp;&nbsp;mapping (bytes32 => bool) private proofs;<br/>
              &nbsp;&nbsp;&nbsp;// store a proof of existence in the contract state<br/>
              &nbsp;&nbsp;&nbsp;// *transactional function*<br/>
              &nbsp;&nbsp;&nbsp;function notarise(bytes32 proof) public {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;proofs[proof] = true;<br/>
                &nbsp;&nbsp;&nbsp;}<br/>
                &nbsp;&nbsp;&nbsp;// returns true if proof is stored<br/>
                &nbsp;&nbsp;&nbsp;// *read-only function*<br/>
                &nbsp;&nbsp;&nbsp;function hasProof(bytes32 proof) public constant returns (bool) {<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return proofs[proof];<br/>
                  &nbsp;}<br/>
              }<br/>
          </code>
          This service is open source and the full code (including the contract) can be seen on <a href="https://github.com/jparicka/blockchain-notary" target="_blank">here</a>.
          <br/>
          The contract itself can be seen accessed <a href="https://etherscan.io/address/0x9fAd6bcDF01CB5dCe206b4614B752667dBc7d97F">here</a>.
        </p>
        </div><!-- content 4 END -->
      </div>
      <div class="centerp">
        <h2>FAQ</h2>
        <div class="content-box"><!-- content 5 -->
        <p>
          Question: Where do I find the source code?
          <br/>
          Answer: Over here <a href="https://github.com/jparicka/blockchain-notary" target="_blank">https://github.com/jparicka/blockchain-notary</a>
          <br/>
          <br/>
          Question: Where can I see the contract?<br/>
          Answer: Our Smart-contract can be accessed <a href="https://etherscan.io/address/0x9fAd6bcDF01CB5dCe206b4614B752667dBc7d97F" target="_blank">here</a>.
          <br/>
          <br/>
          Freel free to contact us should you have any questions.
        </p>
        </div><!-- content 5 END -->
      </div>
      <div class="centerp">
        <p>
            <font color="white">Free Software, Hell Yeah!</font>
          <br/>
          <font color="white">&copy;2018 <a href="http://github.com/jparicka" target="_blank"><font color="white">Jan Paricka</font></a></font>
        </p>
      </div>

    </section>
  </main>
</body>
{% endblock content %}
