<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8" />
  <title>Blockchain Notary</title>
  <script src="{% static 'vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/pages/index.js' %}"></script>
  <script src="{% static 'js/abi.js' %}"></script>
  <script src="{% static 'vendors/dropzone/dropzone.js' %}"></script>
  <script src="{% static 'vendors/jquery.formatNumber-master/jquery.formatNumber-0.1.1.min.js' %}"></script>
  <script src="{% static 'vendors/standford-javascript-crypto-library/sjcl.js' %}"></script>
  <script src="{% static 'vendors/ethjs/ethjs.min.js' %}"></script>
  <script src="{% static 'vendors/ethjs/ethjs-query.min.js' %}"></script>
  <script src="{% static 'vendors/ethjs/ethjs-contract.min.js' %}"></script>
  <script src="{% static 'vendors/ethjs/ethjs-filter.min.js' %}"></script>
  <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/notarize.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
</head>

<body>

  {% block content %}{% endblock content %}

</body>

</html>