
{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<section class="dashboard">
<div class="promo-banner">
  <!-- banner -->
  <div class="center">

    <div class="position"><!-- promo -->
      <hgroup>
        <h2>Will Rock Your Socks Off
          <h2>
            <h1>Blockchain Notary</h1>
      </hgroup>
      <p>Blockchain Notary is an open source service that computes the cryptographic hash for your documents and stores this
        cryptographic information on the Blockchain.</p>
        <a class="action logout" href="/logout">logout</a>
    </div><!-- promo END -->

    <div class="noterize-block"><!-- Notarise -->
      <h3>Notarise Your Document</h3>
      <form action="/" method="get" class="dropzone" id="dropzoneform">{% csrf_token %}
        <div class="dz-message">
          <div class="indrop">
            <img alt="drop file" src="/static/images/icon-upload.svg">
            <p>Drag and drop your document here and<br>
              <span>have it certified on the Blockchain.</span>
              <br> The file will not be uploaded.</p>
          </div>
        </div>
      </form>

      <table style="display: none;" id="dropzone-results">
        <tr>
          <th>Name</th>
          <td data-file-name>Unknown</td>
        </tr>
        <tr>
          <th>File type</th>
          <td data-file-type>Unknown</td>
        </tr>
        <tr>
          <th>Size</th>
          <td data-file-size>Unknown</td>
        </tr>
        <tr>
          <th>Last modified</th>
          <td data-file-last-modified>Unknown</td>
        </tr>
        <tr>
          <th>Hash</th>
          <td data-file-hash>
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
              Hashing...
            </div>
            <div id="hash-result"></div>
          </td>
        </tr>
      </table>
    </div><!-- Notarise END -->

  </div>
</div>
<!-- banner END -->

</section>
<div class="clear"></div>

<section class="doc-list">
  <!-- list -->
  <div class="center">
    <div class="tabs">
      <a id="tab-certifications" href="#">Certifications</a>
      <a class="inactive" id="tab-ongoing" href="#">Ongoing Submissions</a>
    </div>
    <div class="tab-certifications content-tab" id="tab-certificationsC">
      <!-- certifications -->
      <p class="doc-info">Documents of proven existence (notarised) and on the blockchain.</p>
      <div class="table-overflow">
        <table class="table-leyout">
          <tr>
            <th>Document Digest</th>
            <th>Timestamp</th>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:24:22.596Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:24:22.596Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:24:22.596Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:24:22.596Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
          <tr>
            <td>
              <span class="check"></span>
              <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
            </td>
            <td>2018-05-03T09:03:04.077Z</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="tab-ongoing content-tab" id="tab-ongoingC">
      <!-- ongoing -->
      <p class="doc-info">Documents already registered for certification, waiting for payments.</p>
      <table class="table-leyout">
        <tr>
          <th>Document Digest</th>
          <th>Timestamp</th>
        </tr>
        <tr>
          <td>
            <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
          </td>
          <td>2018-05-03T09:24:22.596Z</td>
        </tr>
        <tr>
          <td>
            <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
          </td>
          <td>2018-05-03T09:03:04.077Z</td>
        </tr>
        <tr>
          <td>
            <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
          </td>
          <td>2018-05-03T09:24:22.596Z</td>
        </tr>
        <tr>
          <td>
            <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
          </td>
          <td>2018-05-03T09:03:04.077Z</td>
        </tr>
        <tr>
          <td>
            <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
          </td>
          <td>2018-05-03T09:03:04.077Z</td>
        </tr>
      </table>
    </div>
    <!-- ongoing END-->
  </div>
</section>

<script type="text/javascript">
  if (screen.width <= 768) {
    document.location = "/about";
  }
</script>

  {% endblock content %}
