
<header class="header">
    <!-- header -->
    <div class="center">
        <a class="BLN-logo" href="{% url 'home' %}">
          <span>Blockchain Notary</span>
        </a>
        <nav class="main-nav">
        <!-- main nav -->
        {% if user.is_authenticated %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/about">About</a>
            <a href="https://github.com/jparicka/blockchain-notary/blob/master/contracts/notary.sol" target="_blank">Smart contract</a>
            {% comment %}
            <a class="register non-operational" href="#">Login <span>coming soon..</span></a>
            {% endcomment %}
            <a class="register" href="/login">Login</a>
        {% endif %}
        </nav>
        <!-- main nav END -->
    </div>
</header>
<!-- header END -->
