
<header class="header">
    <!-- header -->
    <div class="center">
        <a class="BLN-logo" href="{% url 'home' %}">
          <span>Blockchain Notary</span>
        </a>
        <nav class="main-nav">
        <!-- main nav -->
        {% if user.is_authenticated %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/about">About</a>
            <a class="non-operational" href="#">Login <span>coming soon</span></a>
            <a class="register non-operational" href="#">Register <span>coming soon</span></a>
        {% endif %}
        </nav>
        <!-- main nav END -->
    </div>
</header>
<!-- header END -->
