 {% extends "base.html" %} {% block content %} {% include "header.html" %}

<div class="promo-banner">
  <!-- banner -->
  <div class="center">
    <div class="position">
      <hgroup>
        <h2>Will Rock Your Socks Off
          <h2>
            <h1>Blockchain Notary</h1>
      </hgroup>
      <p>Blockchain Notary is an open source service that computes the cryptographic hash for your documents and stores this
        cryptographic information on the Blockchain.</p>
      <a class="action scrollink" href="#notarize-block">Notarize</a>
    </div>
  </div>
</div>
<!-- banner END -->

<main>
  <!-- main conetn -->
  <div class="center">
    <section class="about">
      <!-- about -->
      <div class="box">
        <!-- box 1 -->
        <h2>What we do</h2>
        <p>We provide a unique proof of any
          <a href="https://en.wikipedia.org/wiki/Electronic_document" target="_blank">electronic document</a> and we record this information (notarize it). The result is a mathematical proof of your original document. Stored forever on the Blockchain.</p>
        <a class="action" href="{% url 'about' %}">read more</a>
      </div>
      <!-- box 1 END -->
      <div class="box">
        <!-- box 2 -->
        <h2>How it works</h2>
        <p>Using our service, you will get the ultimate proof of your digital document yet it's secure and nobody but you gets
          to access the content whilst everybody has an ability to verify it's authenticity.</p>
        <a class="action" href="{% url 'about' %}">read more</a>
      </div>
      <!-- box 2 END -->
      <div class="box">
        <!-- box 2 -->
        <h2>How much does it cost?</h2>
        <p>
          The total cost for this service is 1.00 ETH for all of your documents and we give you the lifetime warranty for your document
          proof guaranteed by the Ethereum Blockchain network.
          <a class="action" href="{% url 'about' %}">read more</a>
      </div>
    </section>

    <section class="naterize-block" id="notarize-block">
      <!-- Drag and drop zone -->
      <h3>Notarize Your Document</h3>
      <form action="/" method="get" class="dropzone" id="dropzoneform">{% csrf_token %}
        <div class="dz-message">
          <div class="indrop">
            <img alt="drop file" src="/static/images/icon-upload.svg">
            <p>Drag and drop your document here and
              <span>have it certified on the Blockchain.</span>
              <br> The file will not be uploaded.</p>
          </div>
        </div>
      </form>
      <p class="additional-info">If it has been certified already, you will be redirected to the original record.
        <br>You can also input a hash to find previous records.</p>
      <table style="display: none;" id="dropzone-results">
        <tr>
          <th>Name</th>
          <td data-file-name>Unknown</td>
        </tr>
        <tr>
          <th>File type</th>
          <td data-file-type>Unknown</td>
        </tr>
        <tr>
          <th>Size</th>
          <td data-file-size>Unknown</td>
        </tr>
        <tr>
          <th>Last modified</th>
          <td data-file-last-modified>Unknown</td>
        </tr>
        <tr>
          <th>Hash</th>
          <td data-file-hash>
            <div id="hash-result"></div>
          </td>
        </tr>
      </table>
      <div class="notarize-action" id="upload-buttons"">
        <button class="btn btn-success action" id="upload-button-notarize">Notarize</button>
        <button class="btn btn-danger action" id="upload-button-cancel">Cancel</button>
      </div>
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
        <p id="spinner-text">Waiting for confirmation of transaction…</p>
      </div>
    </section>

    <section class="process">
      <!-- process -->
      <div class="inpro">
        <img alt="add document" src="/static/images/proces-1.svg">
        <h4>Add your document for digital verification</h4>
        <p>Simply drag and drop documents that you want to digitally verify and we will compute the cryptographic hash and record
          these hashes on the Blockchain. This is done in your browser so the contents of your files remain confidential.</p>
      </div>
      <div class="inpro">
        <img alt="record proof" src="/static/images/proces-2.svg">
        <h4>Record the document proof on the Blockchain</h4>
        <p>We store the SHA-2 hash of your file, the SHA-2 hash of your email and the timestamp on the Blockchain. The timestamp
          is generated by the Blockchain, so there is no chance of tampering.</p>
      </div>
      <div class="inpro">
        <img alt="blockchain link" src="/static/images/proces-3.svg">
        <h4>You get an email containing Blockchain referal link</h4>
        <p>Once your document hash has been written on the Blockchain and we will send you a referal link to your own unique
          cryptographic proof of the document.</p>
      </div>
    </section>
    <!-- process END -->
  </div>

  <section class="doc-list">
    <!-- list -->
    <div class="center">
      <div class="tabs">
        <a id="tab-certifications" href="#tab-certificationsC">Certifications</a>
        <a class="inactive" id="tab-ongoing" href="#tab-ongoingC">Ongoing Submissions</a>
      </div>
      <div class="tab-certifications content-tab" id="tab-certificationsC">
        <!-- certifications -->
        <p class="doc-info">Documents of proven existence (notarized) and on the blockchain.</p>
        <div class="table-overflow">
          <table class="table-leyout">
            <tr>
              <th>Document Digest</th>
              <th>Timestamp</th>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:24:22.596Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:24:22.596Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:24:22.596Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:24:22.596Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <span class="check"></span>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="tab-ongoing content-tab" id="tab-ongoingC">
        <!-- ongoing -->
        <p class="doc-info">Documents already registered for certification, waiting for payments.</p>
        <div class="table-overflow">
          <table class="table-leyout">
            <tr>
              <th>Document Digest</th>
              <th>Timestamp</th>
            </tr>
            <tr>
              <td>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:24:22.596Z</td>
            </tr>
            <tr>
              <td>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:24:22.596Z</td>
            </tr>
            <tr>
              <td>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
            <tr>
              <td>
                <a href="#">b4e9bd30e0fd6c76e7c6c36eb9c20612c06f28da2134739ba9985f98053fe3aa</a>
              </td>
              <td>2018-05-03T09:03:04.077Z</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- ongoing END-->
    </div>
  </section>
</main>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet risus facilisis, gravida sem ut, imperdiet nisi.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary action" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  if (screen.width <= 768) {
    document.location = "/about";
  }
</script> {% endblock content %}
